<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/gameIndex.css">
    <script defer src="/js/messagehide.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include("../../partials/_navbar.ejs") %>
    <div id="page-content">
        <h1>All Games</h1>
        <div id="games">
            <% games.forEach(game => {%>
                <a href="/games/<%= game._id %>">
                    <div class="gameContainer">
                        <div class="gameBackground">
                            <img src="<%= game.backgroundImage %>" alt="">
                        </div>
                        <div>
                            <img class="logo" src="<%= game.gameIcon %>" alt="Logo of the game <%= game.name %>">
                            <p><%= game.name %></p>
                            
                        </div>
                    </div>
                </a>
            <%}); %>
        </div>
        
    </div>
    
    <% if(message){ %>
        <div class="message">
            <p>
               <%= message%> 
            </p>
            <button class="clearMessage">
                
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

    <% } else if(error){%>
        <div class="error">
            <p>
               <%= error%> 
            </p>
            <button class="clearMessage">
                
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
    
    
    <% } %>   
</body>
</html>