<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link rel="stylesheet" href="/stylesheet/gameIndex.css">
    <title>Document</title>
</head>
<body>
    <%- include("../../partials/_navbar.ejs") %>
    <h1>All Games</h1>

    <div></div>
    <% games.forEach(game => {%>
        <a href="/games/<%= game._id %>">
            <div class="gameContainer">
                <div class="gameBackground">
                    <img src="<%= game.backgroundImage %>" alt="">
                </div>
                <div>
                    <p><%= game.name %></p>
                    <img src="<%= game.gameIcon %>" alt="Logo of the game <%= game.name %>">
                </div>
            </div>
        </a>
        
    <%}); %>
    <h1></h1>
</body>
</html>